
//Color variables
$bg-color-main: #F2EAE2;
$bg-color-box: #FFFFFF;
$text-color-h1: #1C232B;
$text-color-main: #6C7289;
$btn-prc-color: #3D8168;
$btn-color-hover: #1A4032;


/*Global style*/
body {
  background-color: $bg-color-main;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $text-color-main;
}

// Card style with image & info blocks
.card {
  display: flex;
  flex: 1;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;

  .box {
    flex: 0 1 300px;
    font-size: 1rem;
    margin: 0;

    &--info {
      background: $bg-color-box;
      border-radius: 0 8px 8px 0;
      padding: 32px;
    }

    &--image {
      border-radius: 8px 0 0 8px;
      overflow: hidden;
    }
  }
}
//Product image
  .product__image {
    display: block;
    width: 100%;
  }




/* Footer section */
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }