
//Color variables
$bg-color-main: #F2EAE2;
$bg-color-box: #FFFFFF;
$text-color-h1: #1C232B;
$text-color-main: #6C7289;
$btn-prc-color: #3D8168;
$btn-color-hover: #1A4032;
$btn-txt-color: #FFFFFF;

//font variables
$font-body: "Montserrat", sans-serif;
$font-h1-price: "Fraunces", serif;

/*Global style*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: $bg-color-main;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-body;
  color: $text-color-main;
}

// Card style with image & info blocks
.card {
  display: flex;
  flex: 1;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;

    .box {
      flex: 0 1 300px;
      font-size: 1rem;
      margin: 0;

        &--info {
          background: $bg-color-box;
          border-radius: 0 8px 8px 0;
          padding: 32px;
        }

        &--image {
          display: flex;
          border-radius: 8px 0 0 8px;
          overflow: hidden;
        }
    }
}
//Product block style
.product {
  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  &__category {
    display: block;
    font-size: 0.75rem;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.3125rem;
  }
  &__title {
    font-family: $font-h1-price;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1;
    color: $text-color-h1;
    margin: 24px 0;
  }
  &__description {
    font-size: 0.875rem;
    line-height: 1.6;
    margin: 0;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px 0;
      &-new {
        font-family: $font-h1-price;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1;
        color: $btn-prc-color;
      }
      &-old {
        font-size: 0.8125rem;
        line-height: 1.2;
      }
  }
  &__button {
    width: 100%;
    border: none;
    background: $btn-prc-color;
    color: $btn-txt-color;
    font-size: 0.875rem;
    line-height: 1.1;
    font-weight: 700;
    padding: 16px 32px;
    border-radius: 8px;
  }

}

.product__button::before {
  content: url("images/icon-cart.svg");
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

/* Footer section */
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }