
//Color variables
$bg-color-main: #F2EAE2;
$bg-color-box: #FFFFFF;
$text-color-h1: #1C232B;
$text-color-main: #6C7289;
$btn-prc-color: #3D8168;
$btn-color-hover: #1A4032;



/*Global style*/
body {
  background-color: $bg-color-main;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: $text-color-main;
}

.card {
  display: flex;
  flex:1;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
   .box {
    flex: 0 1 300px;
    font-size: 1rem;
    text-align: center;
    margin: 0;

  }
}

.box--image {
  .product-avatar {
    display: block;
    width: 100%;
  }
}
.box--info {
  background: $bg-color-box;
}

/* Footer section */
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }