
$color-info-main: #4D4F62;
$color-info-card: #6A7178;
$color-teambuilder: #EA5454;
$color-supervisor: #44D3D2;
$color-calculator: #549EF2;
$color-karma: #FCAE4A;
$color-card-bg: #FFFFFF;
$font-main: "Poppins", sans-serif;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-main;
  color: $color-info-main;
}

.features {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  &__info {
    padding-top: 100px;
    max-width: 540px;
    line-height: 1.4;
    letter-spacing: 0.25px;
    text-align: center;
    h1 {
      font-size: 2.25rem;
      font-weight: 200;
      span {
        font-weight: 600;
      }
    }
    p {
      font-size: 0.9375rem;
      letter-spacing: 0.1px;
      padding-top: 16px;
    }
  }
}

.card {
  background-color: $color-card-bg;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 350px;
  min-height: 250px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 0.09px;
  &__image {
    align-self: flex-end;
    margin-top: 26px;
  }
  &__title {
    font-size: 1.25rem;
    line-height: 1.35;
    font-weight: 600;
  }
  &__text {
    color: $color-info-card;
  }

}
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }