
$color-info-main: #4D4F62;
$color-info-card: #6A7178;
$color-teambuilder: #EA5454;
$color-supervisor: #44D3D2;
$color-calculator: #549EF2;
$color-karma: #FCAE4A;


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {

  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.features {
  flex: 1;
}

.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }